<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="{{url_for('static', filename= 'object.js')}}" ></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
</head>
<body>

{% include 'header.html' %}
{% block content %}
{% endblock %}

<div class="card">
   <h1 style=" text-align:center; font-weight:bold;">Add or Retrieve a <br /> Work Flow </h1>

   <hr style="width:60%">
   <br>

   <button id="AddWorkFlow" class="button buttonAWF" onclick= wfAddModal();>Create a new Work Flow</button>
   <button id="retrieveWorkFlow" class="button buttonRWF" onclick="wfRetModal();">Retrieve already created Work Flow</button>
</div>


<div class="workFlowModal" id="workFlow">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">&times;</div>
        <h1>Create a new Work Flow</h1>
        <form method="POST">
            <input type="text" id="add-work-flow" name="add" placeholder="Work Flow Name" minlength="4" maxlength="100" required>
            <button type="submit"  id = "submit_form" name="submit" value="Add" class="button" >Add</button>
        </form>
    </div>
</div>


<div class="workFlowModal" id="retWorkFlow">
    <span class="helper"></span>
    <div>
        <div id="close" class="popupCloseButton">&times;</div>
        <h1>Retrieve a Work Flow</h1>
        <form method="POST" >
           <div class="custom-select">
              <select name="nn">
                     {% for o in workFlowList %}
                           <option value="{{o}}">{{o}}</option>
                     {% endfor %}
              </select>
            <br>
<!--            <button type = "submit" class="button" name="ret-work-flow" value="ret-work-flow" >Retrieve</button>-->
            <button type="submit"  id = "ret-form" name="submit" value="Retrieve" class="button" >Retrieve</button>

           </div>
        </form>
    </div>
</div>


</body>
</html>
<div class="workFlowModal" id="ErrorPopup">
    <span class="helper"></span>
    <div>
        <div id="closeError" class="popupCloseButton">&times;</div>
        <h1 style="color: red; text-align:center;">Error: {{errorType}}</h1>
        <hr>
        <h2 style=" text-align:center; "id ="errorMsg" name="delId">Id:</h2>
            </div>
</div>

{% if error %}
    <script>errorShapeId('{{error}}')</script>
{% endif %}