* {box-sizing: border-box;}

body {
  margin: 0;
  background-color:#f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}
  .header {
  overflow: hidden;
  background-color: black;
  padding: 15px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

}

  .card {
    overflow: hidden;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
         background-color: white;
         transition: 0.3s;
         text-align: left;
         margin-top:3%;
         margin-bottom:3%;
         margin-left:20%;
         margin-right:20%;
         position:relative;
         height:480px;
         padding: 60px 10px;
         }
         .card:hover {
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
         }
    .button{
         border: none;
         color: white;
         margin-top: 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 10px 2px;
         cursor: pointer;
         border-radius: 8px;
         font-weight:bold;
         border-radius: 4px;
          float:middle;
         background-color:#380000;
         margin-left:25px;
         padding: 16px 20px;
         cursor: pointer;
    }

     .button:hover{
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
         }
         .button5{
         margin-left:10px;
         background-color:  dodgerblue;
         }
      .buttonAWF{
      margin-left:240px;
      margin-right:240px;
      padding: 20px 65px;
      }
       .buttonRWF{
      padding: 20px 65px;
      margin-left:195px;
      margin-right:195px;
      margin-top:20px;
      }
      .buttonDWF{
      float:right;
      margin-top:px;
      }
      .workFlowModal{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    overflow:auto;
    width:100%;
    z-index:10000;
}
.workFlowModal .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.workFlowModal > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
input[type=text]{
   width:100%;
   padding:12px 20px;
   box-sizing: border-box;
   border:none;
   border-bottom:2px solid #380000;
   }
input[type=text]::placeholder{
      text-align:center;
   }
input[type=text]::-ms-input-placeholder{
   text-align:center;
   }
.popupCloseButton{
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
}
.popupCloseButton:hover,.popupCloseButton:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;

}
.custom-select{
   position:relative;

       width:100%;

   text-align:center;

   padding:12px 20px;
}
.custom-select select{
   padding:12px 20px;
   width:100%;
   text-align:center;
   margin-left:6px;
   border:none;
   border-bottom:2px solid #380000;
<!--   display:none;-->
}
.select-selected{
   background-color:DodgerBlue;
}
.custom-select options{
   position: absolute;
   content:"";
   text-align:center;
   top:14px;
   right:10px;
   width:0;
   height:0;
   color: #fffff;
   padding 12px 20px;
   cursor:pointer;
   border:1px solid ;
   border:color: #fff transparent transparent transparent;
}
.headCard {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     background-color: white;
     transition: 0.3s;

     margin-top:8px;
     margin-left:6px;
     margin-right:6px;
     height :80px;
     position:relative;
     }
 .headCard:hover {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 .formInput[type=text],  input[type=number], [type=select]{
   width:100%;
   float:right;
   margin-top: 6px;
   box-sizing: border-box;
   border:none;
   border-bottom:2px solid #380000;
   }
.formInput[type=text], input[type=number]::placeholder{
      text-align:center;
   }
.formInput[type=text], input[type=number]::-ms-input-placeholder{
   text-align:center;
   }

.selectform{
width:100%
}

.col-25 {
         float: left;
         width: 30%;
         margin-top: 6px;
                  margin-left: 6px;
         }
         .col-75 {
         float: right;
         width: 70%;
                           margin-left: 6px;
         margin-top: 3px;
         }
         .row:after {
         content: "";
         display: table;
         clear: both;
         }
         @media screen and (max-width: 600px) {
         .col-25, .col-75, input[type=submit] {
         width: 100%;
         margin-top: 0;
         }
         }
         textarea{
           width:100%;
           height:40px;
              border-bottom:2px solid #380000;

         }
         label{
         font-weight:bold;
         }

           .card1 {
         box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
         background-color: white;
         transition: 0.3s;
         text-align: left;
         margin-top:10px;
         margin-left:6px;
         margin-right:6px;
         height :70px;
         position:relative;
<!--         display: none;-->
         }
         .card1:hover {
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
         }
           .label1 {
         color: white;
         padding: 6px;
         font-family: Arial;
         font-weight: bold;
         background-color: #2196F3;
         float:right;
         margin-top: 20px;
         margin-right: 15px;
         font-size: 16px;
         }
         .button9{
         float:left;
         background-color:#009933;
         margin-left:20px;
         padding: 15px;
         }
            .button10{
         float:right;
         background-color:#380000;
         margin-right:20px;


         }
         .button11{
            background-color:#ff9800;
         }
          .button12{
          float:right;
          margin-top:16px;
            background-color:#ff9800;
         }
            .button13{
          float:left;
            background-color: dodgerblue;
         }
.linkButton {
    background: none! important;
    border:none;
    padding: 0;
    cursor:pointer;
    color:#069;
    text-decoration: underline;
    font-size:18px;
}
.linkButton:hover{
    color:dodgerblue;
}